#chat {
  border: 1px solid #999;
  /* width: 100vh; */
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin-left: 1rem;
  pointer-events: auto;
}
#chat-title {
  padding: 0.5em;
  background-color: green;
  color: white;
}
.chat-messages {
  padding-top: 2rem;
  width: 62vh;
  height: 60vh;
  overflow: auto;
}
.chat-text-current-user {
  float: left;
  margin: 1rem 5rem 1.5rem 1rem;
  width: 70%;
  border-style: solid;
  word-break: break-all;
}

.userinfo {
  padding-right:1rem;
}

.chat-text-other-user {
  float: right;
  /* margin-top: 1rem;
  margin-right: 0rem; */
  margin: 1rem 1rem 1.5rem 0rem;
  width: 60%;
  border-style: solid;
  word-break: break-all;
}

.notification {
  float: right;
  /* margin-top: 1rem;
  margin-right: 0rem; */
  margin: 1rem 5rem 2rem 0rem;
  width: 60%;
  border-style: solid;
  word-break: break-all;
  text-align: center;
  font-size: 15px;
  color: gray
}